:root {
  --main1: rgba(185, 178, 163, 0.5);
  --dark1: #404948;
  --main2: #D6AF6C;
  --main3: rgb(180, 69, 65);
  --dark2: #632621;
}
@font-face {
  font-family: 'oldtype';
  src: url('@/assets/OldTypefaces.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, span, div, li, body {
  font-family: 'oldtype', serif;
}
